params {
    run_dir     = null
    samplesheet = null
    outdir      = "./results"
}

includeConfig "conf/base.config"

profiles {
    standard {
        process.executor = 'local'
    }

    slurm {
        includeConfig "conf/slurm.config"
    }

    docker {
        docker.enabled = true
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
}
